{% extends 'base.html.twig' %}

{% block body %}

<!-- Main Section -->
<section id="exception">
   <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>404 not found</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}
